# Node environment
NODE_ENV=development

# App Server Configs
NODE_APP_SERVER_PORT=8000

# App Details
NODE_APP_NAME="School Api"
NODE_APP_VERSION="v1.0"

# Third party api

# Database Configs
NODE_APP_DATABASE_NAME=school_api
NODE_APP_DATABASE_USERNAME=postgres
NODE_APP_DATABASE_PASSWORD=postgres
NODE_APP_DATABASE_HOST=localhost
NODE_APP_DATABASE_PORT=5432
NODE_APP_DATABASE_DIALECT='postgres' # one of 'mysql' | 'postgres' | 'sqlite' | 'mariadb' | 'mssql' | 'db2' | 'snowflake' | 'oracle'